# Dependencias
node_modules/
.pnp
.pnp.*

# Next.js
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# Salidas de build
dist/
build/
.cache/

# Entorno
.env
.env.local
.env*.local
*.local

# Despliegue
.vercel

# Registros
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
.next-*.log

# Editores
.vscode/
.idea/
*.swp
*~

# Sistema operativo
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
